.pokemon-details-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-details-name{
    font-size: xx-large;
    color: black;
    margin-top: 2rem;
}

.pokemon-details-name > span{
    letter-spacing: 0.5rem;
}

.pokemon-types{
    font-size: xx-large;
    color: black;
    margin-top: 2rem;
    gap: 2rem;
}

.pokemon-types div{
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 1rem;
    background-color:gainsboro;
}
.pokemon-types  span{
letter-spacing: 0.5rem; 
}

.pokemon-details-image{
    margin-top: 1.5rem;
    height: 200px;
}