.pokemon-list-wrapper{
  margin: 2rem auto;
}
.pokemon-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.controls{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls button{
    padding: 0.5rem 1rem;
    margin-left: 1rem;
}